*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}
$jetBlack: #343434;
$blue:  #1DA1F2;
$bg: #28282B;
header{
    position: sticky;
    top: 0;
    z-index: 3;
    .socials{
        display: flex;
        position: absolute;
        top: 1%;
        left: 85%;
         img{
            cursor: pointer;
            margin-left: 10px;
            border-radius: 15px;
         }
    }
    height:24vh ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1DA1F2;
    .logo{
        max-width: 20vw;
        max-height: 20vh;
        border-radius: 20px;
    }
    .headContainer{
        h1{
            font-size: 74px;
            color: white;
        }
        table{
            color: white;
             th{
                cursor: pointer;
                border-radius: 10px;
                background-color: #0066b2;
                width: 10vw;
                 height:3vh;
                 transition: all .4s ease-in-out;
                margin: 0;
                border: none;
             }
             th:hover{
                transition-delay: 1s;
                transition: all .4s ease-in-out;
                background-color: white;
                color: #0066b2;
             }
             .volunteer{
                 
                td{
                    text-align: center;
                    border-radius: 10px;
                    margin-top: 6px;
                    margin-right:5px;
                    width: 10vw;
                    height: 3vh;
                    border: solid 1px black;
                   display: none;
                   background-color: #0066b2;
                }
             }
             .volunteer:hover{
                td{
                
                    padding: 0;
                    
                     display: block;
                    right: 22.6%;
                }
            }
    }
    }
}
main{
    height: 125vh;
     display: grid;
     grid-template-columns: 1fr 1fr;
    background-color: 	#28282B;
    .about{
         
       height: 32vh;
   margin-left: 5vw;
        width: 40vw;
        padding: 30px;
        h2{
            color: $blue;
            font-size: 35px;
          text-align: center;  
        }
        p{
        
            font-size: larger;
            color: white;
            font-weight: bold;
            border-radius: 10px;
            padding: 20px;
            background-color: $jetBlack;
        }
    }
    .donate{
       
        h1:hover{
            box-shadow: 0px 0px 10px 5px white;
        }
        width: 32vw;
        height: 40vh;
        margin-left: 10vw;
      h1{
       
            button:hover{
                 color:white;
                
            }
        
            button{
                z-index: 2;
                transform: scale(1);
                animation: jumpOn 1s;
                cursor: pointer;
                color: black;
                border: none;
                font-size: 24px;
                font-weight: bolder;
                text-decoration: underline;
                background-color: 	#CC5500;
            }
            box-shadow: 0px 0px 10px 5px $blue;
            background-color: 	#CC5500;
           
            position: absolute;
            min-width: 26vw;
            min-height: 26vh;
            height:48vh;
            width:  30vw;
            border-radius: 10px;
            border: solid 1px red;
            margin-top: 3vh;
            margin-left: 1vw;
            text-align: center;
        }
    .sliderWrap{
        z-index: 1;
       margin-top: 7vh;
       
       margin-left: 3vw;
         border: solid 1px red;
         min-width: 26vw;
         min-height: 26vh;
        max-height: 40vh;
        max-width: 26vw;
        overflow: hidden;
        .imgSlider{
            z-index: 5;
            display: flex;
            
            transition: transform 1s ease-in-out;
            transform: translateX(0);
            img{
                
                min-width: 26vw;
                min-height: 26vh;
            }
        }
    }
}
.scriptDiv{
    background-color: $jetBlack;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    grid-column: 1/3;
     
    .script{
        font-size: 20px;
        color: white;
    }
    h4{
       font-size: 18px;
       font-weight: bolder;
       color: $blue;
       cursor: pointer;
    }
    h4:hover{
        color: white;
    }
}
.videoDiv{
    grid-column: 1/3;
    display: flex;
    border-radius: 10px;
    background-color: $jetBlack;
    margin-left: 3vw;
    margin-right: 3vw;
    border: solid 1px red;
    iframe{
        margin-left: 1vw;
        margin-top: 1vh;
         border-radius: 10px;
        width: 50vw;
        height: 45vh;
    }
    .description{
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 4vw;
        width: 35vw;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
    h3{
        font-size: 34px;
        color: $blue;
    }
    p{
        font-size: 24px;
        color: white;
    }
    }
}
}
@keyframes jumpOn{
    from{
        transform: scale(0);
    }
    70%{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);
    }
}
@media(max-width:1400px){
    main{
        .donate{
            h1{
            min-height: 30vh;
            
            max-height: 43vh;
            }
        }
    }
}
@media(max-width:1100px){
    main{
        height: 170vh;
        .about{
            p{
                padding: 10px;
                min-width: 40vw;
             
            }
        }
        .donate{
           
            h1{
                margin-top: 15vh;
                max-height: 35vh;
            }
            .sliderWrap{
                margin-top: 20vh;
                max-height: 28vh;
                .imgSlider{
                    img{
                        min-width: 26vw;
                        min-height: 26vh;
                    }
                }
            }
        }
    }
}
